{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Chat Room{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-5">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <span class="glyphicon glyphicon-comment"></span> Chat
                </div>
                <div class="panel-body" id="all_messages">
                    <ul class="chat">
                        {% if user.is_authenticated %}
                            {% for message in chat_messages %}
                                {% if message.user == user %}
                                <li class="right clearfix"><span class="chat-img pull-right">
                                    <img src="http://placehold.it/50/FA6F57/fff&text=ME" alt="User Avatar" class="img-circle"/>
                                </span>
                                    <div class="chat-body clearfix">
                                        <div class="header">
                                            <small class=" text-muted"><span class="glyphicon glyphicon-time"></span>{{message.created|date:"H:i"}}
                                            </small>
                                            <strong class="pull-right primary-font">{{ message.user }}</strong>
                                        </div>
                                        <p>
                                            {{ message.message|safe }}
                                        </p>
                                    </div>
                                </li>
                                {% else %}
                                <li class="left clearfix"><span class="chat-img pull-left">
                                    <img src="http://placehold.it/50/55C1E7/fff&text=U" alt="User Avatar" class="img-circle"/>
                                </span>
                                    <div class="chat-body clearfix">
                                        <div class="header">
                                            <strong class="primary-font">{{ message.user }}</strong>
                                            <small class="pull-right text-muted">
                                                <span class="glyphicon glyphicon-time"></span>{{message.created|date:"H:i"}}
                                            </small>
                                        </div>
                                        <p>
                                            {{ message.message|safe }}
                                        </p>
                                    </div>
                                </li>
                                {% endif %}
                            {% empty %}

                            {% endfor %}
                        {% else %}
                                <div>Please Login</div>
                        {% endif %}

                    </ul>
                </div>
                <div class="panel-footer">
                    <div class="input-group">
                        <input id="btn-input" type="text" class="form-control input-sm"
                               placeholder="Type your message here..."/>
                            <span class="input-group-btn">
                                <button class="btn btn-warning btn-sm" id="btn-chat">
                                    Send</button>
                            </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
<script type="text/javascript" src='{% static "js/reconnecting-websocket.min.js" %}'></script>
<script>
    $('#all_messages').scrollTop($('#all_messages')[0].scrollHeight);
    var room_mame = '{{ room_name }}';
    var ws_scheme = window.location.protocol == "https:" ? "wss" : "ws";
    var websocket_str= ws_scheme+'://' + window.location.host + '/ws/chat/' + room_mame + '/';
    var chatSocket = new ReconnectingWebSocket(websocket_str);

    chatSocket.onmessage = function (e) {
        var data = JSON.parse(e.data);
        var message = data['message'];
        var now_time = data['now_time'];
        var receive_user = data['user'];
        var user = "{{user}}";
        if (receive_user === user) {
            $('<li class="right clearfix"><span class="chat-img pull-right"><img src="http://placehold.it/50/FA6F57/fff&text=ME" alt="User Avatar" class="img-circle"/></span><div class="chat-body clearfix"><div class="header"><small class=" text-muted"><span class="glyphicon glyphicon-time"></span>'+now_time+'</small><strong class="pull-right primary-font">'+user+'</strong></div><p>'+message+'</p></div></li>').appendTo($('.chat'))
        }
        else{
            $('<li class="left clearfix"><span class="chat-img pull-left"><img src="http://placehold.it/50/55C1E7/fff&text=U" alt="User Avatar" class="img-circle"/></span><div class="chat-body clearfix"><div class="header"><strong class="primary-font">'+ receive_user+ '</strong><small class="pull-right text-muted"><span class="glyphicon glyphicon-time"></span>'+now_time+'</small></div><p>'+message+'</p></div></li>').appendTo($('.chat'))
        }
        $('#all_messages').scrollTop($('#all_messages')[0].scrollHeight);
        };

        chatSocket.onclose = function (e) {
            console.error('Chat socket closed unexpectedly');
        };

        $("#btn-input").focus();
        $("#btn-input").keyup(function(e){
          if (e.keyCode === 13) {  // enter, return
                $("#btn-chat").click();
            }
        });

        $("#btn-chat").click(function() {
          var message = $('#btn-input').val();
          chatSocket.send(JSON.stringify({
                'message': message
          }));
          $('#btn-input').val('');

        });
</script>
{% endblock %}
